{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="mb-4 mb-xl-0">
            <small class="text-light fw-semibold">Уроки</small>
            <div class="demo-inline-spacing mt-3">
                <div class="d-flex gap-4">
                   <div class="col-4">
                    <div class="card-body">
                        <h4>{{ group.title|truncatewords:4 }}</h4>
                        <ol class="list-group list-group-numbered">
                        {% for lesson in group.course.lesson_set.all %}
                            {% if lesson.access and group in lesson.group_access.all %}
                            <li class="list-group-item"><span class="text-dark">{{ lesson.title }}</span></li>
                            {% endif %}
                        {% endfor %}
                        </ol>
                    </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="content-backdrop fade"></div>
</div>
{% endblock %}