{% load static %}
<!DOCTYPE html>
<html lang="en" class="layout-wide dark-style" dir="ltr"
    data-theme="theme-default" data-assets-path="{% static 'assets/' %}" data-template="vertical-menu-template">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>TAHFIZ - Rating</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/boxicons.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/fontawesome.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/flag-icons.css' %}" />

    <link rel="stylesheet" href="{% static 'assets/vendor/css/rtl/core.css' %}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{% static 'assets/vendor/css/rtl/theme-default.css' %}"
        class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{% static 'assets/css/demo.css' %}" />

    <link rel="stylesheet" href="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/typeahead-js/typeahead.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/logo/logo.png' %}" />


    <script src="{% static 'assets/vendor/js/helpers.js' %}"></script>
    <script src="{% static 'assets/vendor/js/template-customizer.js' %}"></script>
    <script src="{% static 'assets/js/config.js' %}"></script>
</head>

<body>
    <div class="layout-wrapper">
        <div class="layout-container">
            <div class="container-xxl flex-grow-1 container-p-y">
                <h1>Рейтинг студентов {{ subject }}</h1>
                        <div class='row justify-content-center'>
                            <div class='col-12'>
                                <div class="table-responsive text-nowrap">
                                    <table class="table card-table">
                                        <thead>
                                        <tr>
                                            <th>№</th>
                                            <th>Студент</th>
                                            <th>Баллы</th>
                                            <th>Страниц</th>
                                            <th>Итоговое</th>
                                            <th>Среднее</th>
                                        </tr>
                                        </thead>
                                        <tbody class="table-border-bottom-0">
                                        {% for student in students %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>
                                                <img src='{{ student.image.url }}' class='rounded-circle' width='30' height='30' />
                                                <span class='badge 
                                                
                                                {% if forloop.counter <= 3 %}
                                                bg-label-success
                                                {% elif forloop.counter <= 6 %}
                                                bg-label-warning
                                                {% elif forloop.counter <= 9 %}
                                                bg-label-info
                                                {% else %}
                                                bg-label-secondary
                                                {% endif %}

                                                '>{{ student.name }}</span></td>
                                                <td>{{ student.points }}</td>
                                                <td>{{ student.pages }}</td>
                                                <td>{{ student.weighted_score }}</td>
                                                <td>{{ student.average }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
    <script src="{% static 'assets/vendor/js/bootstrap.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>

        <script>
    const scrollSpeed = 1;
    let scrollDirection = 'down';
    let scrollActive = true;
    let scrollInterval;

    function autoScroll() {
        scrollInterval = setInterval(() => {
            if (!scrollActive) return;

            if (scrollDirection === 'down') {
                window.scrollBy(0, scrollSpeed);
                if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
                    scrollDirection = 'up';
                }
            } else {
                window.scrollBy(0, -scrollSpeed);
                if (window.scrollY <= 0) {
                    scrollDirection = 'down';
                }
            }
        }, 10);
    }

    function stopScroll() {
        scrollActive = false;
        clearInterval(scrollInterval);
    }

    window.onload = autoScroll;
    window.addEventListener("wheel", stopScroll);
</script>

</body>
</html>