{% load static %}
<html lang="en" class="light-style layout-wide customizer-hide" dir="ltr" data-theme="theme-default"
  data-assets-path="{% static 'assets/' %}" data-template="vertical-menu-template">

<head>
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

  <title>TAHFIZ - password change done</title>

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link
    href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&amp;display=swap"
    rel="stylesheet">

  <!-- Icons -->
  <link rel="icon" type="image/x-icon" href="{% static 'assets/img/logo/logo.png' %}" />
  <link rel="stylesheet" href="{% static 'assets/vendor/fonts/flag-icons.css' %}">

  <!-- Core CSS -->

  <link rel="stylesheet" href="{% static 'assets/css/demo.css' %}">


  <!-- Page -->
  <link rel="stylesheet" href="{% static 'assets/vendor/css/pages/page-auth.css' %}">

  <style type="text/css">
    .layout-menu-fixed .layout-navbar-full .layout-menu,
    .layout-menu-fixed-offcanvas .layout-navbar-full .layout-menu {
      top: 0px !important;
    }

    .layout-page {
      padding-top: 0px !important;
    }

    .content-wrapper {
      padding-bottom: 0px !important;
    }
  </style>
  <script src="{% static 'assets/js/config.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/css/rtl/core.css' %}"
    class="template-customizer-core-css">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/css/rtl/theme-default.css' %}"
    class="template-customizer-theme-css">

</head>

<body cz-shortcut-listen="true">


  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner row m-0">
      <div class="card">
            <div class="card-body">
              <div class="mb-4 text-center">
                <h3><b>Тахфиз</b></h3>
                <p>Изменение пароля</p>
              </div>
              
              <p>Вы успешно сбросили пароль</p>
              <a class="btn btn-primary d-grid w-100" href="{% url 'user:login' %}">Вход</a>
            </div>
          </div>
    </div>
  </div>

  <script src="{% static 'assets/vendor/js/bootstrap.js' %}"></script>
  <script src="{% static 'assets/js/main.js' %}"></script>
  <script src="{% static 'assets/js/pages-auth.js' %}"></script>

</body>
</html>