{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="mb-4 mb-xl-0">
            <small class="text-light fw-semibold">Уроки</small>
            <h4>{{ group.title }}</h4>
            <div class="demo-inline-spacing mt-3">
                <div class="col-md-4 gap-2">
                    <ol class="list-group list-group-numbered">
                        {% for lesson in lessons %}
                        <li class="list-group-item"><span class="text-dark">{{ lesson.title }}</span></li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </div>
    
    <div class="content-backdrop fade"></div>
</div>
{% endblock %}