{% load static %}
<!-- Menu -->
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  {% with request.resolver_match.url_name as url_name %}
  
    <div class="app-brand demo ">
      <a href="{% url 'dashboard:dashboard' %}" class="app-brand-link">
      <span class="app-brand-logo demo">
        <img src="{% static 'assets/img/logo/logo.png' %}" width="25"/>
      </span>
      <h3 class="app-brand-text menu-text text-dark fw-bold ms-2 mb-0">Tahfiz</h3>
      </a>
      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
        <i class="bx bx-chevron-left bx-sm align-middle"></i>
      </a>
    </div>
    <div class="menu-inner-shadow"></div>
    
      <!-- Администратор -->
  {% if request.user.role == 'admin' %}
  <ul class="menu-inner py-1 ps ps--active-y">
    <li class="menu-header small text-uppercase"><span class="menu-header-text">Администрирование</span></li>
    
    <li class="menu-item {% if 'schedule' in request.resolver_match.namespace %} active {% endif %}">
      <a href="{% url 'schedule:list' %}" class="menu-link">
        <i class='menu-icon bx bx-food-menu '></i>
        <div>Расписание</div>
      </a>
    </li>

    <li class="menu-item {% if 'group' in request.resolver_match.namespace %} active {% endif %}">
      <a href="{% url 'group:list' %}" class="menu-link">
        <i class='menu-icon bx bx-group'></i>
        <div>Группы</div>
      </a>
    </li>

    <li class="menu-item {% if 'administrator' in request.resolver_match.namespace %} active {% endif %}">
      <a href="{% url 'administrator:list' %}" class="menu-link">
        <i class='menu-icon tf-icons bx bx-user-circle'></i>
        <div>Администраторы</div>
      </a>
    </li>
    <li class="menu-item {% if 'teacher' in request.resolver_match.namespace %} active {% endif %}">
      <a href="{% url 'teacher:list' %}" class="menu-link">
        <i class='menu-icon tf-icons bx bxs-user-rectangle'></i>
        <div>Преподаватели</div>
      </a>
    </li>
    <li class="menu-item {% if 'student' in request.resolver_match.namespace and url_name == 'list' %} active {% endif %}">
      <a href="{% url 'student:list' %}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-user"></i>
        <div>Студенты</div>
      </a>
    </li>
    <li class="menu-item {% if 'graduate' in request.resolver_match.namespace %} active {% endif %}">
      <a href="{% url 'graduate:list' %}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-medal"></i>
        <div>Выпускники</div>
      </a>
    </li>
    <li class="menu-item {% if 'grade' in request.resolver_match.namespace %} active {% endif %}">
      <a href="{% url 'grade:group_list' %}" class="menu-link">
        <i class='menu-icon  bx bxs-book-open'></i>
          <div>Журнал</div>
      </a>
    </li>
   
    <li class="menu-item {% if 'student' in request.resolver_match.namespace and url_name == 'choose_course_rating' %} active {% endif %}">
      <a href="{% url 'student:choose_course_rating' %}" class="menu-link">
         <i class='menu-icon bx bx-objects-vertical-bottom'></i>
        <div class="text-truncate">Рейтинг</div>
      </a>
    </li>
    

  </ul>
  {% endif %}
  <!-- Преподаватель -->
  {% if request.user.role == 'teacher' %}
  <ul class="menu-inner py-1 ps ps--active-y">
    <li class="menu-header small text-uppercase"><span class="menu-header-text">Преподавание</span></li>
    <li class="menu-item {% if 'schedule' in request.resolver_match.namespace %} active {% endif %}">
      <a href="{% url 'schedule:list' %}" class="menu-link">
        <i class=' menu-icon bx bx-calendar'></i>
        <div>Расписание</div>
      </a>
    </li>
    <li class="menu-item {% if 'teacher' in request.resolver_match.namespace and url_name == 'students' %} active {% endif %}">
      <a href="{% url 'teacher:students' %}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-user"></i>
        <div>Студенты</div>
      </a>
    </li>
    <li class="menu-item {% if 'grade' in request.resolver_match.namespace %} active {% endif %}">
      <a href="{% url 'grade:group_list' %}" class="menu-link">
        <i class='menu-icon  bx bxs-book-open'></i>
          <div>Журнал</div>
      </a>
    </li>
    
    <li class="menu-item {% if 'teacher' in request.resolver_match.namespace and url_name == 'code' %} active {% endif %}">
      <a href="{% url 'teacher:code' %}" class="menu-link">
        <i class='menu-icon bx bx-barcode-reader'></i>
        <div>Ввод кода</div>
      </a>
    </li>
    <li class="menu-item {% if 'student' in request.resolver_match.namespace and url_name == 'choose_course_rating' %} active {% endif %}">
      <a href="{% url 'student:choose_course_rating' %}" class="menu-link">
         <i class='menu-icon bx bx-objects-vertical-bottom'></i>
        <div class="text-truncate">Рейтинг</div>
      </a>
    </li>
    

  </ul>
  {% endif %}
  <!-- Студент -->
  {% if request.user.role == 'student' %}
  <ul class="menu-inner py-1 ps ps--active-y">
    <li class="menu-header small text-uppercase"><span class="menu-header-text">Обучение</span></li>
    <li class="menu-item {% if 'schedule' in request.resolver_match.namespace %} active {% endif %}">
      <a href="{% url 'schedule:list' %}" class="menu-link">
        <i class=' menu-icon bx bx-calendar'></i>
        <div>Расписание</div>
      </a>
    </li>
    <li class="menu-item {% if 'group' in request.resolver_match.namespace %} active {% endif %}">
      <a href="{% url 'group:list'  %}" class="menu-link">
        <i class='menu-icon bx bx-group'></i>
        <div>Мои группы</div>
      </a>
    </li>
    
    <li class="menu-item {% if 'grade' in request.resolver_match.namespace and url_name == 'diary' %} active {% endif %}">
      <a href="{% url 'grade:diary' %}" class="menu-link">
        <i class='menu-icon  bx bxs-book-open'></i>
          <div>Дневник</div>
      </a>
    </li>
    
    <li class="menu-item {% if 'student' in request.resolver_match.namespace and url_name == 'choose_course_rating' %} active {% endif %}">
      <a href="{% url 'student:choose_course_rating' %}" class="menu-link">
         <i class='menu-icon bx bx-objects-vertical-bottom'></i>
        <div class="text-truncate">Рейтинг</div>
      </a>
    </li>

    
  </ul>
  {% endif %}

  <!-- Operator -->
  {% if request.user.role == 'administrator' %}
   <ul class="menu-inner py-1 ps ps--active-y">
    <li class="menu-header small text-uppercase"><span class="menu-header-text">Администрирование</span></li>
    
    <li class="menu-item {% if 'schedule' in request.resolver_match.namespace %} active {% endif %}">
      <a href="{% url 'schedule:list' %}" class="menu-link">
        <i class='menu-icon bx bx-food-menu '></i>
        <div>Расписание</div>
      </a>
    </li>

    <li class="menu-item {% if 'group' in request.resolver_match.namespace %} active {% endif %}">
      <a href="{% url 'group:list' %}" class="menu-link">
        <i class='menu-icon bx bx-group'></i>
        <div>Группы</div>
      </a>
    </li>

    <li class="menu-item {% if 'administrator' in request.resolver_match.namespace %} active {% endif %}">
      <a href="{% url 'administrator:list' %}" class="menu-link">
        <i class='menu-icon tf-icons bx bx-user-circle'></i>
        <div>Администраторы</div>
      </a>
    </li>
    <li class="menu-item {% if 'teacher' in request.resolver_match.namespace %} active {% endif %}">
      <a href="{% url 'teacher:list' %}" class="menu-link">
        <i class='menu-icon tf-icons bx bxs-user-rectangle'></i>
        <div>Преподаватели</div>
      </a>
    </li>
    <li class="menu-item {% if 'student' in request.resolver_match.namespace and url_name == 'list' %} active {% endif %}">
      <a href="{% url 'student:list' %}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-user"></i>
        <div>Студенты</div>
      </a>
    </li>
    <li class="menu-item {% if 'graduate' in request.resolver_match.namespace %} active {% endif %}">
      <a href="{% url 'graduate:list' %}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-medal"></i>
        <div>Выпускники</div>
      </a>
    </li>
    <li class="menu-item {% if 'grade' in request.resolver_match.namespace %} active {% endif %}">
      <a href="{% url 'grade:group_list' %}" class="menu-link">
        <i class='menu-icon  bx bxs-book-open'></i>
          <div>Журнал</div>
      </a>
    </li>
   
    <li class="menu-item {% if 'student' in request.resolver_match.namespace and url_name == 'choose_course_rating' %} active {% endif %}">
      <a href="{% url 'student:choose_course_rating' %}" class="menu-link">
         <i class='menu-icon bx bx-objects-vertical-bottom'></i>
        <div class="text-truncate">Рейтинг</div>
      </a>
    </li>
    

  </ul>
  {% endif %}
  {% endwith %}
    
  </aside>
  <!-- / Menu -->
