{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="modal fade" id="modalCenter" tabindex="-1" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCenterTitle">Удаление</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Вы действительно желаете удалить администратора <u>{{ administrator.name }}</u>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Закрыть</button>
        <a href="{% url 'administrator:delete' administrator.id %}" class="btn btn-danger">Удалить</a>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center mt-5">
  <div class="col-md-5">
    <div class="card mb-4">
      <div class="card-body">
        <form id="formAccountSettings" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">
            <div class="mb-3 col-md-6">
              <label for="name" class="form-label">Полное имя</label>
              {{ form.name }}
            </div>
            <div class="mb-3 col-md-6">
              <label for="phone" class="form-label">Контактный номер</label>
              {{ form.phone }}
            </div>
              </div>
              <div class="mb-3">
                <label for="login" class="form-label">Логин:</label>
                {{ administrator.user.username }}
              </div>
              <div class="mt-2 d-flex justify-content-between">
                <button type="submit" class="btn btn-primary me-2">Сохранить</button>
                <div>
                  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalCenter">
                    Удалить
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}